NODE_ENV=development

DATABASE_URL="mysql://root@127.0.0.1:3309/vsg"
SHADOW_DATABASE_URL="mysql://root@127.0.0.1:3310/vsg"

NEXTAUTH_URL=http://localhost:3000

# Navigate to https://generate-secret.now.sh/32 to generate a secret for the variable below
NEXTAUTH_SECRET=b28a6d041538d003d622ba87ac092917

# cloudinary
CLOUDINARY_USER_NAME=conquera99
CLOUDINARY_API_KEY=994642112362927
CLOUDINARY_API_SECRET=SJGxzM4mYB3tiU-6C-U1IenUPUc

NEXT_PUBLIC_GOOGLE_ANALYTICS=G-R4NJ5E3N7B